<%-include('header')%>

<center>
  <div class="row">
    <div class="col p-3 px-3">
      <img class="img-fluid shadow-lg" src="/images/bank.jpg" alt="bank" />
    </div>
    <div class="my-5 col m-25">
      <div class="">
        <h1 class="text-wrap">Welcome to Auto Bank</h1>
        <a
          class=" btn btn-outline-dark btn-lg shadow mt-5"
          href="customer"
          role="button"
          >View Customer</a
        >
      </div>
    </div>
  </div>
</center>
<%-include('footer')%>
